/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* GO */

* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

body {
	font-family: 'Helvetica', Arial, sans-serif;
}

.wrapper {}
.container {
	position: relative;
	max-width: 510px;
	margin: 0 auto;
}

.search-filter {
	position: fixed;
	z-index: 99;
	top: 0;
	right: 0;
	left: 0;
	padding: 10px;
	background: #fff;
	box-shadow: 0 4px 2px #e4e4e4;
}
.search-filter input {
	display: block;
	width: 100%;
	height: 40px;
	border-radius: 4px;
	border: 1px solid #dfdfdf;
	padding: 0 15px;
}
.search-filter button {
    position: absolute;
	z-index: 1;
    right: 0;
    top: 0;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    background: #cecece;
    border: none;
    cursor: pointer;
}
.search-filter button:hover,
.search-filter button:focus {
	background: #9a9a9a;
}
.search-filter button:before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    line-height: 40px;
    text-align: center;
    transform: rotate(45deg);
    content: "+";
    font-size: 18px;
    color: #fff;
}
.pdd-items {
	padding-top: 60px;
}
.pdd-item {
	margin-bottom: 15px;
	background: #f0f0f0;
	padding: 15px;
	box-shadow: 0 4px 2px #bfbfbf;
}
.pdd-item__title {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: bold;
    line-height: 21px;
}
.pdd-item__image {
	margin-bottom: 10px;
}
.pdd-item__image img {
	display: block;
	max-width: 100%;
	height: auto;
}
.pdd-item__answers {
	padding-left: 20px;
	list-style: decimal;
}
.pdd-item__answers li {
    position: relative;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 18px;
}
.pdd-item__answers li.true {
	font-weight: bold;
	color: green;
}
@media(min-width: 510px) {
	.pdd-item {
		border-radius: 4px;
	}
}